body {
	padding-top: 10px;
	padding-bottom: 20px;
}

.ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

.social-buttons {
	padding: 5px 100px;
}
	
.container-narrow > hr {
	margin: 20px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 3em;
	line-height: 1;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.masthead-links {
	margin: 0;
	list-style: none;
}

.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: #949494;
}

/* Supporting marketing content */
.marketing {
	margin: 20px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}
