body {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.masthead-links {
	margin: 0;
	list-style: none;
}

.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: #949494;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}


#mainImage {
	box-shadow: 0 0 5px #000;
	border-radius:3px;
}
#mainImage:hover {
	cursor: pointer;
}

.thumbs {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.thumbs li {
	text-align:center;
    padding: 5px 2px 5px 2px;
}
.thumbs img {
	box-shadow: 0 0 5px #000;
	border-radius: 3px;
}


