.container {
	margin: 0 auto;
	max-width: 900px;
}

#steps {
	margin-bottom: 20px;
}

#wizard_mainImage {
	padding-top: 10px;
}


/*
* Step 4 - result
* ------------------------------
*/

/* Utility class to display an element in inline-block */
.inline-block {
	display : inline-block;
}

