body {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* Ribbon form me on github */
.ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index : 9999;
}

/* Brand name */
.navbar-brand {
	font-size : 22px;
}

.navbar-item-iframe {
	position : relative;
	display  : block;
	padding  : 14px 15px 11px;
}

.container > hr {
	margin: 20px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 0;
	text-align: center;
}

	.jumbotron h1 {
		font-size: 2.5em;
		line-height: 1;
	}

	.jumbotron .btn {
		font-size: 21px;
		padding: 14px 24px;
	}

.masthead-links {
	margin: 0;
	list-style: none;
}

.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: #949494;
}

/* Marketing */
.marketing {
	margin: 20px 0;
}

.marketing:first-child {
	margin-top : 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

iframe {
    background-color: transparent;
	border: 0;
	overflow: hidden;
	width: 110px;
	height: 20px;
}

/* Item of list */
.list-unstyled li,
.list-inline li {
	margin-bottom : 10px;
}

/* Utility class to display an element in inline-block */
.inline-block {
	display : inline-block;
}