// GitHub highlight code
// --------------------------------------------------

@import '../github/github.less';

// Main
// --------------------------------------------------

@import 'main.less';

// Styles
// --------------------------------------------------

/* Larger container for affix */
.container {
	max-width : 1170px;
	margin    : 0 auto;
}

// Tabs
// --------------------------------------------------

.nav-tabs {
	margin-bottom: 15px;

	li {
		a {
			.remove-radius();
		}
	}
}

// Affix
// --------------------------------------------------

.col-lg-3 {
	padding-left: 0px;
}

.sidenav {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
	background-color: @bg-color;
	border: 1px solid @border-color;
}

.sidebar .nav > .active > a, .sidebar .nav > .active:hover > a, .sidebar .nav > .active:focus > a {
	font-weight: bold;
	color: #563d7c;
	background-color: transparent;
	border-right: 1px solid #563d7c;
}

.sidebar .nav > li > a {
	display: block;
	color: @color;
	padding: 5px 20px;
}

// Tablet portrait
// --------------------------------------------------

@media(max-width : 768px) {
	.navbar {
		margin-bottom: 0;
	}

	.marketing {
		margin: 4px;
	}

	.page-header {
		margin: 5px 0 5px;
		padding-bottom: 5px;
	}
}