// GitHub highlight code
// --------------------------------------------------

@import '../github/github.less';

// Main
// --------------------------------------------------

@import 'main.less';

// Styles
// --------------------------------------------------

/* Used for centering */
.desoSlide-wrapper {
	display: inline-block;
}

@media(max-width : 480px) {
	.container {
		.jumbotron {
			a.btn {
				padding: 8px 12px;
				font-size: 15px;
			}
		}
	}
}
