// Bootstrap
// --------------------------------------------------

@import '../bootstrap/bootstrap.less';
@import '../bootstrap/jumbotron-narrow.less';

// GitHub highlight code
// --------------------------------------------------

@import '../github/github.less';

// Global
// --------------------------------------------------

@import 'global.less';

// Styles
// --------------------------------------------------

/* Used for centering */
.desoSlide-wrapper {
	display: inline-block;
}

.jumbotron {
	background-color: #F8F8F8;
	border: 1px solid #e7e7e7;
}

@media(max-width : 480px) {
	.jumbotron {
		a.btn-primary {
			padding: 8px 12px;
			font-size: 15px;
		}
	}
}
