// Bootstrap
// --------------------------------------------------

@import '../bootstrap/bootstrap.less';

// Flat-UI
// --------------------------------------------------
@import '../flat_ui/flat_ui.less';

// Variables
// --------------------------------------------------

@import 'var.less';

// Layout
// --------------------------------------------------

@import 'header.less';
@import 'footer.less';

// Styles
// --------------------------------------------------

body {
	padding-top    : 97px;
	padding-bottom : 0;
	overflow-x     : hidden;
	font-family    : "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Code
pre {
	border           : 2px solid @border-color;
	background-color : transparent;
}

// Base container
.container {

	@media (min-width: 768px) {
		max-width : 750px;
	}

	@media (min-width: 992px) {
		max-width : 970px;
	}

	@media (min-width: 1200px) {
		max-width : 1170px;
	}
}

.text-justify {
	text-align : justify;
}

// No margin top
.no-mg-tp {
	margin-top : 0;
}

// No margin bottom
.no-mg-bt {
	margin-bottom : 0;
}