@picton-blue : #22a7f0;
@ebony-clay  : #22313f;
@white       : #ffffff;
@gray        : #555555;

@text-color : @gray;

@link-color       : @picton-blue;
@link-hover-color : lighten(@picton-blue, 10%);

@font-open-sans-semibold : "Open Sans - Semibold", "Helvetica Neue", Arial, sans-serif;
@font-open-sans-regular  : "Open Sans", "Helvetica Neue", Arial, sans-serif;
@font-open-sans-light    : "Open Sans - Light", "Helvetica Neue", Arial, sans-serif;
@font-family-base        : @font-open-sans-regular;
