// GitHub highlight code
// --------------------------------------------------

@import '../github/github.less';

// Main
// --------------------------------------------------

@import 'main.less';

// Styles
// --------------------------------------------------

.sidenav {
	margin-bottom    : 30px;
	background-color : @midnight-blue-bg;
}

.sidebar .nav > li > a {
	padding     : 9px 20px;
	color       : @base;
	font-size   : 16px;

	&:hover {
		background-color : @base;
		color            : @firm;
	}
}

// Affix component
// --------------------------------------------------
.affix-top,
.affix {

	li.active a {
		font-weight : bold;
		color       : @firm;
	}
}

.affix {
	top   : 106px;

	@media (max-width : 768px) {
		position : relative;
		top : 0;
	}

	@media (min-width : 768px) {
		width : 158px;
	}

	@media (min-width : 992px) {
		width : 213px;
	}

	@media (min-width : 1200px) {
		width : 263px;
	}
}

// Dialog component
// --------------------------------------------------
.dialog {

	li {
		line-height : 25px;
	}
}

// Tableaux
// ------------------------------
.table {

	// Cellules
	thead,
	tbody,
	tfoot {

		> tr {

			> th,
			> td {
				vertical-align : middle;
			}
		}
	}

	@media only screen and (max-width : 992px) {

		/* Force table to not be like tables anymore */
		table&,
		thead,
		tbody,
		th,
		td,
		tr {
			display : block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position : absolute;
			top      : -9999px;
			left     : -9999px;
		}

		tr:not(:first-child) {
			border-top : 2px solid @base;
		}

		td {
			/* Behave  like a "row" */
			border        :  none;
			position      :  relative;
			white-space   :  normal;
			padding-left  :  100px !important;
			text-align    :  right;

			&:first-child {
				border-top : none;
			}
		}

		td:before {
			/* Now like a table header */
			position      : absolute;
			/* Top/left values mimic padding */
			top           : 6px;
			left          : 10px;
			padding-right : 10px;
			white-space   : nowrap;
			text-align    : left;
		}

		/*
		Label the data
		*/
		td:before {
			content : attr(data-title);
			font-weight : bold;
		}
	}
}