@import '../../vendor/bootstrap/variables.less';
@import '../../vendor/bootstrap/mixins.less';
@import '../../vendor/flat-ui/variables.less';
@import '../../vendor/flat-ui/mixins.less';
@import '../components/variables.less';
@import '../components/mixins.less';
@import '../components/fonts.less';
@import '../components/typography.less';
@import '../layouts/header.less';
@import '../layouts/body.less';
@import '../layouts/footer.less';
@import '../components/modules/navbar.less';
@import '../components/modules/button.less';
@import '../components/modules/jumbotron.less';
@import '../components/modules/label.less';

.section-demo
{
    .page-header
    {
        position : relative;

        .label
        {
            padding       : 0.2em 0.6em;
            border-radius : 1em;
        }

        @media (max-width : @screen-md)
        {
            text-align    : center;
            font-size     : 32px;

            .label
            {
                position    : absolute;
                left        : 50%;
                top         : -60px;
                height      : 54px;
                width       : 54px;
                margin-left : -27px;
                padding-top : 11px;
                font-size   : 30px;
            }
        }
    }

    .desoslide-wrapper
    {
        margin-left  : 20px;
        margin-right : 20px;

        img
        {
            border        : 3px solid @ebony-clay;
            border-radius : 3px;
        }

        @media (max-width : @screen-md)
        {
            float         : left;
        }

        @media (min-width : @screen-md)
        {
            margin-right  : 0;
        }
    }

    .desoslide-thumbs-vertical,
    .desoslide-thumbs-horizontal
    {
        list-style : none;

        img
        {
            border        : 3px solid @ebony-clay;
            border-radius : 3px;
            transition    : border .25s linear, opacity .25s linear;
        }

        > li
        {
            &:hover,
            &:focus
            {
                img
                {
                    border-color : @brand-danger;
                    opacity      : .8;
                }
            }
        }

    }

    .desoslide-thumbs-vertical
    {
        padding-left : 0;

        > li
        {
            margin : 20px 0;

            @media (max-width : @screen-md)
            {
                float         : left;
                padding-left  : 20px;
            }

            @media (min-width : @screen-md)
            {
                &:first-child
                {
                    margin-top : 0;
                }
            }
        }
    }

    .desoslide-thumbs-horizontal
    {
        padding-left : 0;

        > li
        {
            float        : left;
            margin       : 20px 0;
            padding-left : 20px;

            @media (min-width : @screen-md)
            {
                &:first-child
                {
                    padding-left : 0;
                }
            }
        }
    }

    #demo2_image,
    #demo3_image,
    #demo4_image
    {
        .desoslide-wrapper
        {
            @media (min-width : @screen-md)
            {
                margin-left   : 0;
            }
        }
    }

}


