@import '../../vendor/bootstrap/variables.less';
@import '../../vendor/bootstrap/mixins.less';
@import '../../vendor/flat-ui/variables.less';
@import '../../vendor/flat-ui/mixins.less';
@import '../components/variables.less';
@import '../components/mixins.less';
@import '../components/fonts.less';
@import '../components/typography.less';
@import '../layouts/header.less';
@import '../layouts/body.less';
@import '../layouts/footer.less';
@import '../components/modules/navbar.less';
@import '../components/modules/button.less';
@import '../components/modules/jumbotron.less';

.navbar-default
{
    border-bottom : none;

    .navbar-nav
    {
        > li
        {
            > a
            {

                &:hover,
                &:focus
                {
                    box-shadow : none;
                }
            }
        }
    }

    @media (min-width : @screen-sm)
    {
        position      : relative;
        z-index       : 2;
        top           : 55px;
    }
}

.jumbotron
{
    margin-top     : -53px;
    padding-bottom : 170px;

    h1
    {
        margin      : 100px 0 40px 0;
        line-height : 40px;
        font-size   : 38px;
    }

    @media (min-width : @screen-md)
    {
        padding       : 120px 180px 210px;
    }
}

#core,
#team,
#features
{
    position       : relative;
    padding-top    : 150px;
    padding-bottom : 150px;

    h4
    {
        margin-top : 20px;
    }

    article
    {
        padding : 40px;
    }
}

#caption
{
    img
    {
        padding-top    : 14px;
        padding-bottom : 14px;
    }
}

#core
{
    background-color : @ebony-clay;
    color            : @white;
}

#team
{
    .btn .fa
    {
        font-size : 22px;
    }
}

.section-title
{
    position      : absolute;
    top           : -110px;
    left          : 50%;
    z-index       : 3;
    width         : 220px;
    height        : 220px;
    margin-left   : -110px;
    padding       : 35px 10px 10px;
    border        : 12px solid;
    color         : @white;
    text-align    : center;
    border-radius : 50%;

    .section-icon
    {
        font-size : 75px;
    }

    .section-text
    {
        margin    : 10px 0 0;
        font-size : 30px;
    }

    &.section-features
    {
        border-color     : @ebony-clay;
        background-color : @brand-danger;
    }

    &.section-core
    {
        border-color     : @white;
        background-color : @curious-blue;
    }

    &.section-team
    {
        border-color     : @ebony-clay;
        background-color : @brand-danger;
    }
}
