
.jumbotron
{
    margin-bottom    : 0;
    padding-top      : 53px;
    background-color : @ebony-clay;
    color            : @white;

    h1
    {
        margin    : 0;
        font-size : 50px;
    }

    .btn-primary
    {
        background-color : lighten(@ebony-clay, 10%);

        &:hover,
        &:focus
        {
            background-color : lighten(@ebony-clay, 20%);
        }
    }
}
