
.navbar-default
{
    margin-bottom    : 0;
    background-color : @ebony-clay;

    .navbar-brand
    {
        color       : @white;
        font-size   : 28px;
        font-weight : 400;

        &:hover,
        &:focus
        {
            color : @curious-blue;
        }
    }

    .navbar-nav
    {
        > li
        {
            > a
            {
                color       : @white;
                font-weight : 400;

                &:hover,
                &:focus
                {
                    color      : @curious-blue;
                    box-shadow : inset 0px -3px 0px @curious-blue;
                }
            }
        }

        > .dropdown
        {
            > a
            {
                .caret
                {
                    border-top-color    : @white;
                    border-bottom-color : @white;
                }

                &:hover,
                &:focus
                {
                    .caret
                    {
                        border-top-color    : @curious-blue;
                        border-bottom-color : @curious-blue;
                    }
                }
            }
        }

        // Remove background color from open dropdown
        > .open > a
        {
            &,
            &:hover,
            &:focus
            {
                color : @curious-blue;

                .caret
                {
                    border-top-color    : @curious-blue;
                    border-bottom-color : @curious-blue;
                }
            }
        }
    }
}
