
body
{
    min-width   : 320px;
    font-family : @font-family-base;
    color       : @text-color;
    overflow-x  : hidden;
}

a
{
    color : @link-color;

    &:hover
    {
        color : @link-hover-color;
    }
}

.section-breadcrumb
{
    padding          : 15px;
    background-color : lighten(@ebony-clay, 10%);
    color            : @white;

    p
    {
        margin : 0;
    }
}

.page-header
{
    margin-top    : 80px;
    line-height   : 1.3em;
    border-bottom : none;
}

.img-responsive
{
    width : 100%;
}
